@import "tailwindcss";


html,
body {
  height: 100%;
  background-color: #1E1F22;
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Helvetica Neue", sans-serif;
}